@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 300px;
    font-style: normal;
}
/* css body dark*/
body.dark {
    background:#000000;
    color:#F5F5F5;
}
body.dark button {
    background:#000000;
    color:#F5F5F5;
}
body.dark a {
    background:#000000;
    color:#F5F5F5;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffffff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Hiệu ứng khi input được focus (đang được chọn) */
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #5c9ded;
    box-shadow: 0 0 2px 0 rgba(92, 157, 237, 0.7);
    outline: none;
}

/* Hiệu ứng khi người dùng di chuột qua input */
input[type="text"]:hover,
input[type="password"]:hover {
    border-color:#E0E0E0;
}
div.topbar {
    background-color:black;
    padding-left:170px;
    position: fixed; 
    top: 0;
    width: 100%; 
    height:50px;
    display: flex;
    flex-direction: column;
}
div.topbar button {
    outline:none;
    border:none;
    font-size: large;
    margin-left: 30px;
    color:#E0E0E0;
    background:none;
    cursor:pointer;
}
div.topbar p {
    color:#FAFAFA;
    font-size: 14px;
    text-align:center;
    padding-top: 16px;
    
}
div.topbar a {
    color:#FAFAFA;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    margin-left: 10px ;
}
div.topbar a:hover {
    text-decoration: underline;
}
div.topbar select{
    background-color:black ;
    color:#FAFAFA;
    border:none;
    outline:none;
    margin-left: 200px;
}
div.header {
    padding-top: 95px;
    margin-left:150px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}
div.navigation {
    display: flex;
    gap: 50px;
    margin-left:190px;
    width: 428px;
    height: 17px;
    color:black;
    
}
div.navigation a {
    text-decoration: none;
}
div.navigation a:hover {
    text-decoration: underline;
}
div.search input {
    border: none;
    outline: none;
    background-color:#F5F5F5;
    font-size: 15px;
    padding: 0.3125em 0.625em;
}
div.search {
    display: flex;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;;
    background-color:#F5F5F5;
    border-radius: 7px;
    gap:25px;
    margin-left: 300px;
    margin-top: -20px;
}
hr {
    margin-top:15px;
}
div.home {
    display:flex;
    gap:15px;
    margin-top: 70px;
    padding-left: 150px;
}
div.home a {
    text-decoration: none;
    opacity:50%;
    color:black;
}
div.home a:hover {
    opacity:1;
}
div.main  {
    font-size:80px;
    text-align: center;
    margin-top: 250px;
}
div.title {
    text-align: center;
    font-size: 25px;
    line-height: 100px;
}
div.choose {
    text-align: center;
}
div.choose button {
    margin: none 15px; 
    border-radius: 5px;
    font-size:25px;
    background-color: transparent;
    margin-top:45px;
    width:380px;
    padding:30px;
    border:none;
}
div.choose button:hover {
    background: #db4444;
    color:#F5F5F5;
}
div.Footer{
    background-color: #000000;
    color:#FFFFFF;
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 285px;
}
div.Footer hr{
    padding: 0;
}
div.FooterTop{
    padding: 0 8.5em;
    padding-top: 5.625em;
    padding-bottom: 4.375em;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}
div.Exclusive{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:1em;
}
div.GroupText1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1em;
}
div.text3{
    font-size: 1em;
}

div.Send{
    display: flex;
    align-items: center;
    border: 0.0625em solid #F5F5F5;
    padding: 0.3875em 0.625em;
}
div.Send input{
    outline: none;
    border: none;
    background-color: #000000;
    color: #FAFAFA;
}
div.Support{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-evenly;
    gap:1.5em;
}
div.GroupText2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1em;
    font-size: 1em;
}
div.Account{
    display: flex;
    flex-direction: column;
    gap:1.5em;
}
div.BtnAccount{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1em;
}
div.BtnAccount a{
    color: #FAFAFA;
    font-size: 1em;
    text-decoration: none;
}
div.QuickLink{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1.5em;
}
div.BtnQuickLinks{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1em;
}
div.BtnQuickLinks a{
    color: #FAFAFA;
    font-size: 1em;
    text-decoration: none;
}
div.DownloadApp{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1.5em;
}
div.GroupDown{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1.5em;
}
div.GroupText3{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
div.textApp{
    font-size: 0.75em;
    opacity: 0.5;
}
div.GroupImage{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
div.ImageApp{
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}
div.GroupIcon{
    display: flex;
    align-items: center;
    gap: 1.5em;
}
div.FooterBottom{
    display: flex;
    justify-content: center;
    gap: 1em;
}
div.copy{
    display: flex;
    align-items: center;
    font-size: 1em;
    gap:0.375em ;
    opacity: 0.3;
}

